/* * {
            border: solid 1px black;
            box-sizing: border-box;
        } */

        html, body {
            height: 100%;
        }

        /* nav */
        .header{
            position: absolute;
            top: -73px;
            transition: 0.8s ease-in-out;
        }
        .header.fixed{
            width:100%;
            position: fixed;
            top:0;
            z-index: 9999;
            background-color: white;
        }
        .navbar-brand{
            background-image: url('/img/Olife-all-1.png');
            width: 200px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            display: none;
        }
        .container{
            z-index: 3000;
            padding: 0;
        }
        li{
            font-size: 25px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .nav-item{
            position: relative;
        }
        .nav-item::before{
            content: "";
            box-sizing: border-box;
            width: 1px;
            height: 35px;
            background-color: black;
            display: block;
            position: absolute;
            right: -20px;
            top:20px;
        }
        .navbar{
            width: 100%
        }
        li .nav-link{
            padding-top: 20px;
            padding-bottom: 0;
        }
        .navbar-nav{
            width:  100%;
            justify-content:  space-between;

        }
        .navbar-nav li:nth-child(3)::before, li:nth-child(4)::before, li:nth-child(7)::before{
            height: 0;
        }
        /* nav */

        /* banner */
        body {
            background: #fff;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }
        .boxaaa .swiper-container {
            width: 100%;
            height: 720px;
            position: relative;
            left: 0;
            top: 0;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 100%;
        }
        .swiper_img1 {
            background-image: url('../img/hover1.jpg');
            background-position: 70% top;
        }
        .swiper_img2 {
            background-image: url("../img/hover2.jpg");
            background-position: 80% top;
        }
        .swiper_img3 {
            background-image: url("../img/hover3-1.jpg");
            background-position: 90% 50%;
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            background: none;
            color: lightgray;
        }
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            background: none;
            color: lightgray;
        }
        /* banner */

        /* news */
        .show_box {
            width: 100%;
            max-width: 730px;
            min-height: 600px;
            position: relative;
            margin: auto;
            margin-top: 200px;
        }
        .mob_style {
            position: relative;
            width: 365px;
        }
        #the_mobile {
            width: 365px;
            height: 550px;
            display: block;
            background: url('../img/mobile04.png');
            background-size: contain;
            padding-top: 60px;
            margin: 0;
            position: absolute;
            background-repeat: no-repeat;
        }
        .mob_browser {
            width: 260px;
            height: 420px;
            display: block;
            margin: 0 8%;
            background-image: url('../img/news.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .arr_btn {
            position: absolute;
            top: 40%;
            right: 0;
            margin: 0;
        }
        .mob_info {
            width: 365px;
            position: absolute;
            right: 0;
            padding: 50px 0 30px 0;
            text-align: center;
        }
        .mob_info>h3 {
            padding: 50px 0 30px 0;
            line-height: 36px;
            font-size: 22px;
            font-weight: normal;
        }
        .QRcode_img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }
        /* news */

        /* technology */
        .reviews {
            background-size: cover;
            position: relative;
            background-image: url('../img/bamboo-bacc01-01.jpg');
            background-repeat: no-repeat;
            color: #444444;
            background-position: center;
            font-weight: bolder;
            line-height: 36px;
            color: rgb(224, 224, 224);
            letter-spacing: 5px;
        }
        .word p{
            font-size: 16px;
        }
        .reviews .row{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .row_img1 {
            background-image: url('../img/pic01-01.jpg');
            background-size: cover;
            height: 300px;
            background-position: center
        }
        .row_img2 {
            background-image: url('../img/pic02-01.jpg');
            background-size: cover;
            height: 300px;
            background-position: bottom;
        }
        .row_img3 {
            background-image: url('../img/pic03-01.jpg');
            background-size: cover;
            height: 300px;
            background-position: center;
        }
        .row_img4 {
            background-image: url('../img/pic04-01.jpg');
            background-size: cover;
            height: 300px;
            background-position: 80%;
        }
        .reviews .row h3, .row p {
            text-align: left;
        }
        .reviews .row .word {
            padding: 100px;
        }
        /* technology */

        .product_H h1{
            text-align: center;
            letter-spacing:0;
            line-height: 10px;
            background-image: url('../img/tit_img2.png');
            background-size: cover;
            background-position: center center;
            margin-top: 50px;
            margin-bottom: 50px;

        }
        .product_H h1 span{
            background-color: white;
            padding: 10px;
            font-family: 'Microsoft JhengHei';
        }

        /* product */
        ul {
			list-style-type: none;
		}
		.nav {
			width: 100%;
			margin: 0 auto 20px;
			text-align: center;
            font-size: 0; 
		}
		.nav li {
			display: inline-block;
			margin: 0 5px;
			padding: 10px 20px;
			font-size: 20px;
			color: #333;
			background-color: #ccc;
            cursor: pointer;
        }
        .nav_item{
            margin-left: 50%;
            transform: translateX(-50%);
        }
		.nav .active {
			color: #fff;
			background-color: #21b384;
        }
        .nav_item li{
            margin-left: 20px;
            margin-right: 20px;
        }
            /* Product word */
        .word_child{
            text-align: center;
            background-size: contain;
            position: relative;
            bottom: 1rem;
            background-color: black;
            color: white;
            max-width: 100%;
        }
        .dowebok {
            width: 1000px;
            font-size: 20px;
            margin: 0 auto;
        }
		.filtr-item {
			display: inline-block;
			width: 25%;
            padding: 10px;
		}
		.filtr-item img {
			width: 100%;
		}
        /* product */

        /* productB */
        .filterizr__controls li {
            background-color: #bbb;
            color: white;
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
            padding: 1rem 2rem;
            transition: all 200ms;
            cursor: pointer;
        }
        .filterizr__controls li.active {
            background-color: blue;
        }
        .filterizr__elements figure {
            padding: 1rem;
        }
        .filterizr__elements figure figcaption {
            color: white;
            position: absolute;
            text-transform: uppercase;
            padding: 1rem;
            z-index: 1;
            bottom: 1rem;
        }
        /* productB */

        /* story */
        #container_story{
            background-image: url('../img/smile02-01.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        #container_story p{
            font-size: 24px;
        }
        .story_H{
            padding-top: 1px;
        }
        .story_H h1{
            text-align: center;
            letter-spacing:0;
            line-height: 10px;
            background-image: url('../img/tit_img2.png');
            background-size: cover;
            background-position: center center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .story_H h1 span{
            background-color: white;
            padding: 10px;
            font-family: 'Microsoft JhengHei';
            
        }
        .story_B{
            position: relative;
        }
        .story_B .word{
            color:rgb(31, 26, 26);
            z-index: 10;
            letter-spacing: 3px;
            margin-top: 130px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            color: rgb(224, 224, 224);
        }
        .story_B .word h2{
            text-align: right;
            font-size: 48px;
        }
        .story_B .word p{
            text-align: left;
            margin-top: 50px;
            text-align: justify;

        }
        .story_F{
            position: relative;   
        }
        .story_F .word{
            color:rgb(31, 26, 26);
            z-index: 10;
            letter-spacing: 3px;
            margin-top: 50px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            color: rgb(224, 224, 224);
        }
        .story_F .word h2{
            text-align: left;
            font-size: 48px;
        }
        .story_F .word p{
            text-align: left;
            margin-top: 50px;
            text-align: justify;
        }
        /* story */

        /* quality */
        .quality_H h1{
            text-align: center;
            letter-spacing:0;
            line-height: 10px;
            background-image: url('../img/tit_img2.png');
            background-size: cover;
            background-position: center center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .quality_H h1 span{
            background-color: white;
            padding: 10px;
            font-family: 'Microsoft JhengHei';
        }
        .container_quality .row{
            max-width: 80%;
        }
        .row_img5{
            background-image: url('../img/SGS-01.png');
            background-size: contain;
            height: 750px;
            background-repeat: no-repeat;
        }
        .row_img6{
            background-image: url('../img/SGS-02.png');
            background-size: contain;
            height: 750px;
            background-repeat: no-repeat;
            margin: 0;
        }

        .about_H h1{
            text-align: center;
            letter-spacing:0;
            line-height: 10px;
            background-image: url('../img/tit_img2.png');
            background-size: cover;
            background-position: center center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .about_H h1 span{
            background-color: white;
            padding: 10px;
            font-family: 'Microsoft JhengHei';
        }
        .about_B_L_up{
            background-image: url('../img/taiwan.jpg');
            max-width: 100%;
            height: 300px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .about_B_L_btm h3{
            text-align: center;
        }
        .about_B_L_btm p{
            text-align: center;
            letter-spacing: 3px;
            margin-top: 20px;
        }
        .row .about_B_L_btm{
            padding: 50px;
        }
        .about_B_R h3 {
            text-align: center;
        }
        .about_B_R p{
            letter-spacing: 3px;
            margin-top: 100px;
            text-align: justify;    
            font-size: 16px;        
        }
        .row .about_B_R{
            padding: 100px;
        }
        .about_F{
            margin: auto;
        }
        .footer{
            text-align: center;
            padding: 10px;
            background-color: lightgrey;
        }
        .footer img{
            max-width: 100%;
        }
        .footer ul li:first-child {
            border: none;
        }
        .footer ul{
            padding-left: 0;
            margin-bottom: 0;
        }
        .footer ul li{
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            border-left: 1px solid #444444;
            font-size: 16px;
            color: #444444
        }
        .footer p{
            margin-top: 5px;
            margin-bottom: 0;
            letter-spacing: 5px;
        }
        .footer a{
            color: black
        }

        /* 連結錨點 */
        #news_anchor{
            transform: translateY(-80px)
        }
        #story_anchor{
            transform: translateY(-80px)
        }
        #product_anchor{
            transform: translateY(-100px)
        }
        #quality_anchor{
            transform: translateY(-100px)
        }
        #about_anchor{
            transform: translateY(-100px)
        }

        /* .row2{
            margin-left: 0;
            margin-right: 0;
        } */
        @media screen and (max-width: 768px) {
            .show_box{
                display: none;
            }
            .story_B .word{
                width: 70%;
            }
            .navbar-brand{
                display: block;
            }
            .container{
                width: 750px;
            }
            .swiper_img1 {
                background-image: url('../img/hover1.jpg');
                background-position: 95% top;
            }
            .swiper_img2 {
                background-image: url("../img/hover2.jpg");
                background-position: 95% top;
            }
            .swiper_img3 {
                background-image: url("../img/hover3-1.jpg");
                background-position: 90% 50%;
            }

        }

        @media screen and (max-width: 480px) {
            .col-md-3 {
                width: 25%;
            }
            .reviews .word{
                width: 100%;
                padding: 0;
            }
            .the_mobile{
                display: static;
            }
            .filtr-item {
                width: 50%;
            }   
            .filtr-item img {
                width: 50%;
            }
            .head_logo{
                display: block;
            }
            .story_F .word{
                width: 100%;
            }
            .story_F{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
            .navbar-brand{
                display: block;
            }
            .word_child{
                font-size: 8pt;
                max-width: 50%;
            }
            .about_F{
                margin: 0;
            }
            .container{
                margin: 0;
            }
        }